version: 2

defaults: &defaults
  working_directory: ~/zoobc-sdk-js
  docker:
    - image: circleci/node:6

jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
            sudo apt update && apt install git
            npm install --no-audit
      - run:
          name: Unit Testing for NodeJs 6
          command: npm run test

  publish:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
            sudo apt update && apt install git
            npm install --no-audit
      - run:
          name: Build SDK
          command: npm run build
      - run:
          name: Release SDK
          command: npx semantic-release
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/zoobc-sdk-js/.npmrc
      - run:
          name: Publish SDK
          command: npm publish

workflows:
  version: 2
  test-publish:
    jobs:
      - test:
          filters:
            branches:
              only:
                - develop
      - publish:
          requires:
            - test
          filters:
            branches:
              only:
                - master
            tags:
              only:
                - /\d+\.\d+\.\d+/ # /^v.*/
